/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), 'Arial', sans-serif;
  font-variation-settings: 'wght' var(--wght-card-text);
  background-image: var(--background-image-main);
  background-size: cover;
  background-attachment: fixed; 
}

.header {
  padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem) clamp(1rem, -6.6803rem + 32.7692vw, 7.65625rem);
  margin: clamp(6.25rem, 6.25rem + 0vw, 6.25rem) auto;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: var(--font-family-accent);
}

.title {
  display: block;
  text-transform: uppercase;
}

.title-text {
  text-align: center;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  white-space: nowrap;
}

.logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.block {
  width: var(--width-main);
  background-color: #FFF;
  border: solid 2px #000;
}

.card {
  font-family: var(--font-family-main);
  font-size: 18px;
}

.card_title {
  font-weight: var(--wght-card-title);
  font-size: 18px;
  padding: 4px 10px;
  text-align: left;
  font-family: var(--font-family-main);
}

.article {
  display: flex;
  flex-direction: column;
}

.container_label {
  position: relative;
}

.card_image {
  display: block;
  width: 100%;
  object-fit: cover;
  outline: none;
  box-shadow: none;
  aspect-ratio: 1 / 1;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color_stroke), 
    0 1px var(--color_stroke), 
    1px 0 var(--color_stroke), 
    0 -1px var(--color_stroke);
}

@supports (-webkit-text-stroke: 1px var(--color_stroke)) {
  .label {
    -webkit-text-stroke: 1px var(--color_stroke);
    text-shadow: none;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-weight: var(--wght-card-text);
  line-height: 21px;
}

.button {
  all: unset;
  background-color: #FFF;
  border: solid 2px #000;
  padding: 2px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button__text {
  font-size: 14px;
  font-family: var(--font-family-accent);
  line-height: 90%;
  display: block;
  white-space: nowrap;
  position: relative;
  mix-blend-mode: difference;
  color: var(--color_text_hover);
  font-weight: normal;
}

.icon-like-buttons {
  align-self: flex-end;
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.card__like-button {
  padding: 10.5px 35px;
}

.card__memory-button {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(19.125rem, 17.0337rem + 8.9231vw, 20.9375rem);
  margin: 50px clamp(2.15625rem, -9.2434rem + 48.6385vw, 34.53125rem) 100px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.popup[open] {
  all: unset;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  box-sizing: border-box;
  padding: 32px 32px;
  box-sizing: border-box;
  border: none;
  background-color: #FFF;
  border: solid 2px #000;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup[open] .floppy_text {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.popup[open] .floppy {
  all: unset;
  width: 39px;
  height: 39px;
}

.popup[open] .popup_close_button {
  inline-size: 100%;
  text-align: center;
  /*padding: 9px 17px;*/
  text-transform: uppercase;
}

.popup[open] .popup_close_text {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.popup[open]) {
  overflow: hidden;
}

.floppy {
    all: unset;
    block-size: 21px;
    inline-size: 21px;
  }

@media (350px <= width <= 375px) {
  .card__memory-button {
    flex-direction: column;
  }

  .card__memory-button .floppy {
    all: unset;
    block-size: 28px;
    inline-size: 28px;
  }

  .popup {
    padding: 30px 40px;
  }
}

@media (width <= 349px) {
  .card__memory-button {
    flex-direction: column;
  }

  .card__memory-button .floppy {
    all: unset;
    block-size: 28px;
    inline-size: 28px;
  }

  .popup {
    padding: 30px 40px;
  }

  .button__text {
    white-space: wrap;
    text-align: center;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button:focus {
  outline: none;
}

.card__icon-button {
  border: 2px solid transparent;
  background: none;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.card__icon-button:focus{
  outline: none;
}

.button {
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out; 
  transform-origin: left center;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--color_text_hover);
}

.button:hover::before {
  transform: scaleX(1);
}

.floppy {
  position: relative;
  mix-blend-mode: difference;
  color: var(--color_text_hover);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s;
}

.core {
  transition: fill linear 0.3s; 
  transition-delay: 0.03s;
}

.main-body {
  transition: fill linear 0.3s;
}

.image_preparation {
  filter: hue-rotate(0.5turn);;
}

.image_firstly {
  filter: grayscale(30%);
}

.image_fear {
  filter: opacity(70%);
}

.image_perfect {
  filter: brightness(30%);
}

.image_friends {
  filter: blur(3px);
}

.image_strategy {
  filter: contrast(150%);
}

.image_concentrate {
  filter: sepia(0.5);
}

.image_now {
  filter: drop-shadow(4px 4px green) saturate(100%);
}